body{
    font-family: cursive;
    padding: 100px;
    background-color: azure;
}
.container{
    margin: auto;
    border-radius: 10px;
    padding: 100px;
    background-color: #D7BDE2;
    box-shadow:0 2px 4px #9B59B6(0, 0, 0, 0.2) ;
}

form{
    display: grid;
    flex-wrap: wrap;
    margin-bottom: 10px;
}
label{
    display: block;
    margin-bottom: 1px;
}
input[type="text"],
input[type="radio"],
input[type="checkbox"] {
    margin-bottom: 10px;
    background-color:#F5EEF8 ;
}
button{
    padding: 18px 18px;
    background-color: #4A235A;
    color: #ffffff;
    border: none;
    border-radius: 14px;
    cursor: pointer;
}
table{
    width: 100%;
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    border-radius: 2px solid #C39BD3;
}

th {
    background-color: #C39BD3;
}
